.git/
output/
cactus/
dataset/
gs-inspector-pip/
SIBR_viewers/
assets/
**/*.mp4
**/*.png
**/*.jpg
**/*.gif
**/*.ply
**/*.so
**/build/
.venv/
.gitmodules/
utils/
scene/
**/.vscode/
**/.git/
**/.gitmodules/
**/build/
**/*.egg-info/
xp1/
wandb/
vmaf/
