*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
gaussian_inspector_stubs
gs-inspector-pip
out_balls
out_debug
vmaf
*.png
wandb/
out_*
*.mp4
*.pdf
__pycache__/
**/__pycache__/
/.nvim
*.json
*.diff
data
scripts/*.txt
/.HF_token
/.wandb_key
